$primary-bg-color: #fdf0d5;
$secondary-color: #007bff;

.login-container {
  max-width: 400px;
  margin: 100px auto;
  background-color: $primary-bg-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    color: $secondary-color;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 8px;
      font-weight: bold;
      color: $secondary-color;
    }

    input {
      padding: 10px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    button {
      padding: 8px;
      background-color: $secondary-color;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
width:100%;
      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}
